@{
    ViewData["Title"] = "Register";
}

<h1>Registered Succesfull</h1>
<h2>Now LOgin</h2>

<form action="/home/validate">
    Email Id: <input type="text" name="nm" id="nm">

    Password: <input type="password" name="pass" id="pass">

    <input type="submit" name="sbt" id="sbt">
</form>