@{
    ViewData["Title"] = "Register";
}
<h1>In Register</h1>

<form action="/home/login">
    UserName:  <input type="text" name="nm" id="nm">

    Email :    <input type="email" name="email" id="email">

    Password:  <input type="password" name="pass" id="pass">

    <input type="submit" name="sub" id="sub">
</form>