@using BOL;
<h2>Product Catalog</h2>
<hr>

@{
    List<Product> allProduct=ViewBag.products;

        <ol>
                @foreach (Product product in allProduct)
                {
                  <li>@product.Name</li> 
                 // <li>@product.Image</li>
                }
        </ol>
}