@using BOL;
@model Product;



<form action="/product/insert" method="POST">
   Id   : <input type="text" name="Id" id="Id" asp-for="Id"> 
    Name : <input type="text" name="Name" id="Name" asp-for="Name">
    Description : <input type="text" name="Description" id="Description" asp-for="Description">
    Image: <input type="text" name="Image" id="Image" asp-for="Image">
    Price: <input type="text" name="Price" id="Price" asp-for="Price">
    
    <input type="submit" name="submit" id="submit">
</form>